//breakpoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

//fonts
$default-font-stack: arial, tahoma, sans-serif;

//colors
$p1-purple: #5f5dc8;
$p2-cloud: rgb(222, 222, 222);
$p3-granite: rgb(48, 43, 48);

$s1-light-purple:#8b8ac5;
$s2-white-purple: rgba(254, 251, 255, 0.986);
$s3-white: rgba(255, 255, 255, 0.965);
