@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss" as *;

.main {
  width: 100%;
  background-color: $s2-white-purple;
  margin: 0;
  padding: 0.5rem;
  @include desktop {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  &__header {
    padding-left: 0.5rem;
    @include tablet {
      padding-left: 1rem;
      padding-right: 1.5rem;
    }
  }
}
