@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.home {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @include tablet {
    padding-left: 1rem;
  }
  &__form {
    display: flex;
    padding-right: 1rem;
    padding-top: 0.5rem;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 35%;
    }
  }
  &__input {
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    flex-grow: 1;
    @include input1;
    & {
      padding-left: 0.5rem;
      &:focus {
        border-width: 2px;
      }
    }
  }
  &__button {
    @include button1;
  }
}
.results {
  padding: 1rem;
  border: 1px solid $p2-cloud;
  box-shadow: inset 1px 0px 5px $p2-cloud;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
  gap: 1rem;
  width: 100%;
  justify-content: center;
  border-radius: 15px;
  @include desktop {
    gap: 1.6rem;
  }
}
