<article class="details">
  <img class="details__main-photo" [src]="housingLocation?.photo" />
  <div class="details__listing-details">
    <section class="details__description">
      <h2 class="details__listing-heading">{{ housingLocation?.name }}</h2>
      <p class="details__listing-location">
        📍 {{ housingLocation?.city }}, {{ housingLocation?.state }}
      </p>
    </section>
    <section class="details__listing-features">
      <h2 class="details__section-heading details__section-heading--1">
        About this housing location
      </h2>
      <ul class="details__features-list">
        <li class="details__features-list-item">
          Units available:
          <strong>{{ housingLocation?.availableUnits }}</strong>
        </li>
        <li class="details__features-list-item">
          Does this location have wifi:
          <strong>{{ housingLocation?.wifi }}</strong>
        </li>
        <li class="details__features-list-item">
          Does this location have laundry:
          <strong>{{ housingLocation?.laundry }}</strong>
        </li>
      </ul>
    </section>
    <section class="details__apply">
      <h2 class="details__section-heading details__section-heading--2">
        Apply now to find your new home!
      </h2>
      <form class="details__form" [formGroup]="applyForm">
        <label class="details__form--label" for="first-name">First Name</label>
        <input
          class="details__form--input"
          id="first-name"
          type="text"
          formControlName="firstName"
        />
        <label class="details__form--label" for="last-name">Last Name</label>
        <input
          class="details__form--input"
          id="last-name"
          type="text"
          formControlName="lastName"
        />
        <label class="details__form--label" for="email">Email</label>
        <input
          class="details__form--input"
          id="email"
          type="email"
          formControlName="email"
        />
        <button class="details__form--button" type="button">Apply Now</button>
      </form>
    </section>
  </div>
</article>
<footer class="footer">
  <p class="footer__copyright">&copy; 2024 Homes.com. All rights reserved.</p>
</footer>
