@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  box-shadow: inset 1px 1px 5px $s1-light-purple;
  margin-top: 0.5rem;
  font-family: $default-font-stack;
  border-radius: 15px;
  @include tablet {
    flex-direction: row;
  }
  &__main-photo {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border: 1px solid $s1-light-purple;
    border-radius: 15px;
    @include tablet {
      width: 70%;
      height: 83vh;
    }
  }
  &__listing-details {
    padding-left: 1rem;
    padding-right: 1rem;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  &__listing-heading {
    font-size: 1.9rem;
    color: $p3-granite;
    margin-bottom: 0;
    margin-top: 0.8rem;
    @include tablet {
      margin-top: 0.7rem;
    }
  }
  &__listing-location {
    margin-top: 0.7rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &__section-heading {
    font-size: 1.5rem;
    border-top: 1px solid $p2-cloud;
    padding-top: 0.4rem;
    &--1 {
      color: $p1-purple;
      margin-top: 0;
      margin-bottom: 0;
    }
    &--2 {
      color: $p3-granite;
      font-size: 1.3rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__features-list {
    padding-left: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
  }
  &__features-list-items {
    color: $p3-granite;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &--label {
      color: $p1-purple;
      font-weight: 600;
      padding-top: 0.5rem;
    }
    &--input {
      @include input1;
    }
    &--invalid {
      color: red;
      font-size: 0.7rem;
    }
    &--button {
      margin-top: 1rem;
      margin-bottom: 1rem;
      @include button1;
    }
  }
}
.footer {
  &__copyright {
    font-family: $default-font-stack;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}
